* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: linear-gradient(
    to bottom,
    rgb(245, 252, 237),
    rgb(187, 199, 177),
    rgb(158, 173, 141)
  );
  font-size: 1.5rem;
  line-height: 1.5;
  color: #609299;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* --------------HEADER--------------- */

header{
    background-color: #95a97b;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.header__logo{
    padding: 0.5rem;
    width: 100px;
    height: 100px;
    margin-left: 3rem;
    margin-bottom: 0.8rem;
    cursor: pointer;
    display: flex;
}

header nav{
    padding: 0.5rem;
    margin-right: 1rem;
    display: flex;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
}

header nav li{
    font-size: 2rem;
    display: flex;
}

header nav a{
    color: #114B5F;
    text-decoration: none;
    display: flex;
}

.link-productos{
    color: rgb(25, 61, 49);
    border: 3px ridge #143309;
    display: flex;
    text-decoration: none;
    cursor: pointer;
    background-color: #dff1c6;
}

 .link-productos a{
    color: #114B5F;
    font-size: 2rem;
    text-decoration: none;
    display: flex;
    padding: 1rem 2rem;
    margin: 2 1;
 }

/* ---------------HOME-------------- */

main{
    width: 90%;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

main h1{
    font-size: 5rem;
    color: #5b7d7d;
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    justify-content: center;
}

main h2{
    font-size: 4rem;
    color: #2b4141;
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    justify-content: center;
}

.nosotros{
    font-size: 1.5rem;
    color: #2b4141;
    justify-content: center;
    border: 0.2rem solid black;
    padding: 1rem 4rem;
    width: 80%;
    background-color: #c6cfc6;
    border-radius: 2.5rem;
}

/* ------------FOOTER---------------- */

footer{
    width: 100%;
    height: 3rem; 
    background-color: #95a97b;
    padding: 2rem;
    color: #114B5F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

footer p{
    color: #114B5F;
    font-size: 1.5rem;
    display: flex;
}

footer nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 3rem;
}

footer nav li{
    font-size: 2rem;
    font-weight: bolder;
    display: flex;
}

footer nav a{
    color: #114B5F;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    display: flex;
}

/*--------------- PRODUCTOS ----------------*/

.seccionProductos, #contenedor-carrito{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 3rem;
    gap: 2rem;
}

.artProducto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 25rem;
    background-color: #F1F8E8;
    border-radius: 1rem;
    border: 2px double #114B5F;
    overflow: hidden;
    box-shadow: 0 10px 30px #173228;
}

.img{
    width: 80%;
    border-radius: 0.5rem;
    border: 2px solid black; 
}

.titulo{
    font-size: 1.5rem;
    color: #307b62;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
    
.descripcion{
    font-size: 1rem;
    color: rgb(18, 57, 41);
    padding: 0.5rem 2rem;
}

.precio{
    font-size: 1.5rem;
    color: #3f795c;
    text-align:left;
    margin-bottom: 2rem;
}

.btn{
    cursor: pointer;
    margin-bottom: 2rem;
    width: 150px; 
    height: 30px;
    background-color: #9aa9a5;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 10px 30px #173228;
}

.btn-vaciar-carrito{
    cursor: pointer;
    margin-top: 2rem;
    width: 150px; 
    height: 30px;
    background-color: #9ac8ea;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 10px 30px #5f90b0;
}

.btn-eliminar-carrito{
    cursor: pointer;
    margin-bottom: 2rem;
    width: 150px; 
    height: 30px;
    background-color: #bf4246;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 10px 30px #e53b32;
}

/*--------------CONTACTO------------- */


.seccion-contacto {
  width: 100%;
  margin: 1rem auto;
}

.titulo-contacto {
  font-size: 4rem;
  text-align: center;
  margin: 2rem 0;
}

.form {
  background-color: #576561;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 300px;
}

.campo-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.campo-form label {
  font-size: 2rem;
  color: black;
}

.campo-form input{
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  border: none;
}

.campo-form textarea {
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  border: none;
  width: 100%;             
  min-height: 8rem;       
  resize: vertical;
}

.form button {
  background-color: #d21f3c;
  color: #e5e6e8;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
}

.ubicacion{
    padding: auto;
    text-align: center;
    padding-bottom: 5rem;
}

.ubicacion h2{
    font-size: 2rem;
}

.ubicacion iframe{
    border-radius: 2rem;
}

/* ------------MEDIA QUERIES--------------- */

@media (max-width: 768px) {

    header, footer{
        align-items: center;
        margin: 0; 
        gap: 0 ;
        padding: 0;
    }   
    
    .nosotros, .tabla{
        display: none;
    }
}